*{
    box-sizing: border-box;
}
canvas{
    border: 1px solid black;
}
.container{
    width: 768px;
    margin: auto;
    background-color: #999;
}
.row{
    display: flex;
}
.col{
    flex: 1;
}
.big{
    flex: 2;
}